.photo-grid {
  max-width            : 1184px;
  display              : grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap                  : 16px;
  padding: 92px 48px 0;
}

@media (max-width: 1279px) {
  .photo-grid {
    max-width: calc(100%-48px);
    gap                  : 14px;

  }
}

@media (max-width: 1023px) {
  .photo-grid {
    max-width: calc(100%-48px);
    gap                  : 16px;
    padding: 88px 24px 0;
  }
}

@media (max-width: 424px) {
  .photo-grid {
    max-width: calc(100% - 32px);
    padding: 64px 16px 0;
    gap      : 12px;
  }
}
