.places {
  max-width: 984px;
  padding   : 92px 148px;
}

@media (max-width: 1279px) {
  .places {
    max-width: calc(100% - 96px);
    padding   : 92px 48px;
  }
}

@media (max-width: 1023px) {
  .places {
    max-width: calc(100% - 48px);
    padding   : 88px 24px 90px;
  }
}

@media (max-width: 424px) {
  .places {
    max-width: 100%;
    padding   : 64px 0 66px;
  }
}
